// HEADER MIXINS
@mixin container-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100vh;
  background-color: #000005;
  border-right: 1px solid rgb(124, 124, 124);
  background-size: 20px 20px;
  position: absolute;
  z-index: 999;
  border-radius: 0px 15px 15px 0px;
  transition: all .5s;
  transition-delay: 350ms;
}
@mixin itens-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
}
@mixin transition-opacity1 {
  transition: all .5s;
  transition-delay: 350ms;
  opacity: 1;
}
@mixin itens {
  display: flex;
  align-items: center;
  padding: 10px;

  margin-top: 20px;
  cursor: pointer;
}